body{
    padding:140px;
    margin: auto;
    border-radius: 25px;
    background-color: aquamarine;

}
form{
   
     margin: auto;
    
    
    width: 800px;
    height: 800px;
}

.box{
    margin: auto;
    background-color: aquamarine;
}